main{
    height: calc(100vh - 4rem);
    padding: 2rem;
}

main h3{
    font-size: 20px;
}

main .tab-list{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .tab-list .tab{
    cursor: pointer;
}

main .tab-list .tab + .tab{
    margin-left: 1rem;
}
main .tab-list .active{
    font-weight: bold;
}
.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-list .card{
    cursor: pointer;
    padding: 2rem;
    min-width: 320px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
}

.card-list .card .bottom{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.card-list .card .bottom .date{
    color: rgb(134, 142, 150);
}

.card-list .card + .card{
    margin-left: 1rem;
}


.card-list .card .title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}