{{>layout/header}}
<div style="text-align: center">
    <br><br>
    <h2>Go back to your <a href="/">Home</a></h2>
    <br><br>
    <img style="width:400px; height:440px;"src="/images/404.jpg"/>
</div>
{{>layout/footer}}
