{{>layout/header}} {{! 현재 머스테치 파일을 기준으로 다른 파일을 가져옴}}
<div style="text-align: center">
<h1>Hey Jigi</h1>
<h3>지능기전학부생들을 위한 번개식 모임 웹앱 ver1</h3>
</div>
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <span class="col-md-6">
                <a href="/my/170170" role="button" class="btn btn-primary">내 정보/활동</a>
            </span>
            <span  class="col-md-6">
                <a href="/oauth2/authorization/kakao">카카오 계정 로그인</a>
            </span>
            <br>
            <button id="cat-arduino">아두이노 부품 공구</button>
            <button id="cat-sports">축구/족구</button>
            <button id="cat-exhibition">코엑스 전시회(몰라도 같이 모르고 공유)</button>
            <button id="cat-study">공모전 참여(팀원 모집)</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/post/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!--목록 출력 영역-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>필요 인원</th>
            <th>작성자</th>
            <th>모집 종료일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/post/find/{{id}}">{{title}}</a></td>
            <td><span style="color: orangered;">{{personNow}}</span> / {{personLimit}}</td>
            <td>{{author}}</td>
            <td>{{endDate}}</td>
        </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}