<link href="/css/master.css" rel="stylesheet"/>
<link href="/css/header.css" rel="stylesheet"/>
<link href="/css/profile.css" rel="stylesheet"/>
{{>layout/header}}
<header>
    <div class="logo">
        Hey Jigi
    </div>
    <div class="profile-list">
        {{#sessionUser}}
            <a href="/my" role="button" class="btn btn-primary">내 정보/활동</a>
        {{/sessionUser}}
        {{^sessionUser}}
            <a href="/oauth2/authorization/kakao" role="button" class="kakao-login">카카오 계정 로그인</a>
        {{/sessionUser}}
        {{#sessionUser}}<!-- oauth 세션이 있을 때-->
            <a href="/logout" role="button" class="btn btn-primary">로그아웃</a>
        {{/sessionUser}}
        {{#sessionUser}}
            <a href="/post/save"><button>글쓰기</button></a>
        {{/sessionUser}}
    </div>
</header>
<main>
    {{#my}}
        <div class="profile-img">
            <img style="width:150px; length:150px;" src="{{profile_image}}"/>
            <span class="name">{{name}}</span>
            <span class="email">{{email}}</span>
        </div>
    {{/my}}
    {{#my}}
        <h2>소식 알림 설정</h2>
        아두이노<input type="checkbox" name="arduino" value="아두이노" checked>
        축구/족구<input type="checkbox" name="sports" value="축구/족구">
        전시회<input type="checkbox" name="exhibition" value="전시회">
        스터디<input type="checkbox" name="study" value="스터디">

        <h3>
            개설한 모임
        </h3>
        <div class="card-group">
            <div class="card-list">
                {{#hosted}}
                    <a class="card" href="/post/find/{{id}}">
                        <div class="title">
                            {{title}}
                        </div>
                        <div class="author">
                            {{author}}
                        </div>
                        <div class="bottom">
                                <span class="date">
                                    {{endDate}}
                                </span>
                            <span class="member">
                                    <button id="btn-delete">삭제</button>
                                </span>
                        </div>
                    </a>
                {{/hosted}}
            </div>
        </div>

        <h3>
            참여한 모임
        </h3>
        <div class="card-list">
            {{#registered}}
                <a class="card" href="/post/find/{{id}}">
                    <div class="title">
                        {{title}}
                    </div>
                    <div class="author">
                        {{author}}
                    </div>
                    <div class="bottom">
                            <span class="date">
                                {{endDate}}
                            </span>
                        <span>
                                <button id="btn-update"><a href="/post/update/{{id}}">수정</a></button>
                            </span>
                        <span class="member">
                                <button id="btn-cancel">참여취소</button>
                            </span>
                    </div>
                </a>
            {{/registered}}
        </div>
    {{/my}}
</main>

<script type="text/javascript">

    const onClickUpdateProfile = async (e) => {
        const data = {

        }
        try{
            await fetch(`/api/v1/user`, {
                method: 'PUT',
                body: JSON.stringify(data),
            });
        }catch (e){
            console.log(e);
        }
    }

    const onClickRemovePost = async (e) => {
        const {name} = e.target;

        try{
            await fetch(`/api/v1/post/${name}`,{
                method: 'DELETE'
            });
        } catch(e){
            console.log(e);
        }
    }

    const onClickCancelParticipate = async (e) => {
        const {name} = e.target;

        try{
            await fetch(`/api/v1/post/${name}`,{
                method: 'PUT'
            });
        } catch(e){
            console.log(e);
        }
    }
    window.onload = () => {

    }
    $(document).ready(function () {

        console.log("init한다.");
        setCategory = function (val) {
            $.ajax({
                type: 'GET',
                url: '/api/v1/user/category/' + val,
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                }, error: function (error) {
                    console.log(JSON.stringify(error));
                }
            })
        };

        $('input:checkbox').on('change', function () {
            console.log("checkbos changed" + $(this).attr('name'));
            if ($(this).attr('name') == 'arduino') {
                setCategory('arduino');
            }
            if ($(this).attr('name') == 'sports') {
                setCategory('sports');
            }
            if ($(this).attr('name') == 'exhibition') {
                setCategory('exhibition');
            }
            if ($(this).attr('name') == 'study') {
                setCategory('study');
            }
        })

        $('#btn-my-update').on('click', function () {
            console.log("버튼 누름");
            updateMy();
        });
        $('#btn-cancel').on('click', function () {
            var checkbtn = $(this);
            var tr = checkbtn.parent().parent();
            var td = tr.children();
            var ahref = td.eq(0).attr('id').split('-')[1];
            console.log("ahref=" + ahref);
            cancel_participate(ahref);
        });

        $('#btn-delete').on('click', function () {
            console.log("삭제 누름");
            var checkbtn = $(this);
            var tr = checkbtn.parent().parent();
            var td = tr.children();
            var ahref = td.eq(0).attr('id').split('-')[1];
            remove(ahref);
        });

        updateMy = function () {
            var data = {
                oauthId: $('.my-info[id=oauthId]').val(), //식별용
                name: $('.my-info[id=name]').val(),
                email: $('.my-info[id=email]').val(),
                studentId: $('.my-info[id=studentId]').val()
            };
            console.log(data);
            $.ajax({
                type: 'PUT',
                url: '/api/v1/user',
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (response) {
                    alert('정보가 수정되었습니다.');
                }, error: function (error) {
                    console.log(JSON.stringify(error));
                }
            })
        };


        cancel_participate = function (post_id) {
            $.ajax({
                type: 'GET',
                url: '/api/v1/user/cancel/' + post_id,
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                // data: JSON.stringify(data),
                success: function (response) {
                    alert('참여가 취소되었습니다.');
                    window.location.href = '/my';
                }, error: function (error) {
                    console.log(JSON.stringify(error));
                }
            })
        };

        remove = function (ahref) {
            $.ajax({
                type: 'DELETE',
                url: '/api/v1/post/' + ahref,
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                // data: JSON.stringify(data),
                success: function (response) {
                    alert('글이 삭제되었습니다.');
                    window.location.href = '/';
                }, error: function (error) {
                    alert(JSON.stringify(error));
                }
            })
        };
    });
</script>
{{>layout/footer}}