{{>layout/header}}
{{#post}}
<div class="form-group">
    <input type="text" class="form-control" id="title"value="{{title}}">
</div>
<div class="col-md-12">
    <div class="col-md-4">
            <div class="form-group">
                <label for="endDate">모집 종료일</label>
                <input type="text" class="form-control" id="endDate" value="{{endDate}}" readonly>
            </div>
            <div class="form-group">
                <label for="personLimit">현재 인원</label>
                <input style="color: orangered;"type="text" class="form-control" id="personLimit" value="{{personNow}} / {{personLimit}}"readonly/>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" value="{{author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" readonly>{{content}}</textarea>
            </div>
        <a href="/" role="button" class="btn btn-secondary">목록</a>
        {{#isHost}}
            <button id="btn-update"><a href="/post/update/{{post.id}}">수정</a></button>
            <button id="btn-delete">삭제</button>
        {{/isHost}}
        {{#isGuest}}
            <button id="btn-participate">참여하기</button>
        {{/isGuest}}

    </div>
</div>
{{/post}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("init한다.");
        console.log($('#btn-participate').attr('value'));
        $('#btn-participate').on('click', function () {
            console.log("참여 누름");
            participate();
        });
        $('#btn-update').on('click', function () {
            console.log("수정 누름");
            console.log("personLimit:"+$('#personLimit').val().split('-')[1]);
            // update();
        });
        $('#btn-delete').on('click', function () {
            console.log("삭제 누름");
            remove();
        });


        participate = function () {
            $.ajax({
                type: 'PUT',
                url: '/api/v1/post/join/'+{{post.id}},
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                // data: JSON.stringify(data),
                success: function (response) {
                    alert('참여 신청되었습니다.');
                }, error: function (error) {
                    alert(JSON.stringify(error));
                }
            });
        };

        update = function () {
            var data = {
                title: $('#title').val(),
                endDate: $('#endDate').val(),
                personLimit: $('#personLimit').val().split('-')[1],
                content: $('#content').val(),
            };
            $.ajax({
                type: 'PUT',
                url: '/api/v1/post/'+{{post.id}},
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (response) {
                    alert('글이 수정되었습니다.');
                }, error: function (error) {
                    alert(JSON.parse(error));
                }
            })
        };

        remove = function () {
            $.ajax({
                type: 'DELETE',
                url: '/api/v1/post/'+{{post.id}},
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                // data: JSON.stringify(data),
                success: function (response) {
                    alert('글이 삭제되었습니다.');
                    window.location.href = '/';
                }, error: function (error) {
                    alert(JSON.stringify(error));
                }
            })
        };
    });


</script>
{{>layout/footer}}