{{>layout/header}}
<h1>내 모임 수정</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            {{#post}}
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="endDate">모집 종료일</label>
                    <input type="text" class="form-control" id="endDate" value="{{endDate}}">
                </div>
                <div class="form-group">
                    카테고리
                    <br>
                    <input type="radio" name="rawCategoryEnum" value="arduino" checked>아두이노 부품 공구</label>
                    <input type="radio" name="rawCategoryEnum" value="sports">축구/족구</label>
                    <input type="radio" name="rawCategoryEnum" value="exhibition">코엑스 전시회</label>
                    <input type="radio" name="rawCategoryEnum" value="study">공모전 참여</label>

                </div>
                <div class="form-group">
                    <label for="personLimit">머릿수</label>
                    <input type="text" class="form-control" id="personLimit" value="{{personLimit}}">
                </div>
                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" value="{{author}}" readonly>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content">{{content}}</textarea>
                </div>
            {{/post}}
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("init한다.");

        var cat = "{{post.rawCategoryEnum}}";
        console.log("post.category=" + cat);
        $('input[type="radio"]').each(function (index, item) {
            console.log("item:" + $(item).val());
            if ($(item).val() == cat) {
                $(item).prop('checked', true);
            }
        });


        $('#btn-update').on('click', function () {
            console.log("버튼 누름");
            if ($('#title').val() == '' || $('#endDate').val() == '' ||
                    $('#personLimit').val() == '' || $('#content').val() == '') {
                alert("모든 항목을 채워주세요");
            } else update();
        });

        update = function () {
            var checked = $('input[name="rawCategoryEnum"]:checked').val();

            var data = {
                title: $('#title').val(),
                endDate: $('#endDate').val(),
                personLimit: $('#personLimit').val(),
                rawCategoryEnum: checked,
                content: $('#content').val(),
            };

            $.ajax({
                type: 'PUT',
                url: '/api/v1/post/' +{{post.id}},
                dataType: 'json', //서버측에서 전송받은 데이터 타입
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (response) {
                    alert('글이 수정되었습니다.');
                }, error: function (error) {
                    alert('날짜 형식은 "20xx-xx-xx", 인원은 숫자만 적어주세요')
                }
            })
        }
    });


</script>
{{>layout/footer}}