{{>layout/header}}
<h1>모임 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        {{#post}}
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title"value="{{title}}">
            </div>
            <div class="form-group">
                <label for="endDate">모집 종료일</label>
                <input type="text" class="form-control" id="endDate" value="{{endDate}}">
            </div>
            <div class="form-group">
                <label for="personLimit">현재 인원</label>
                <input style="color: orangered;"type="text" class="form-control" id="title" value="{{personNow}} / {{personLimit}}">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" value="{{author}}">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content">{{content}}</textarea>
            </div>

        <a href="/" role="button" class="btn btn-secondary">목록</a>
        {{/post}}
    </div>
</div>
{{>layout/footer}}